[Desktop Entry]
MimeType=application/x-w3m;application/x-w3x;
GenericName=Warcraft III World Editor Emulation
GenericName[de]=Warcraft-III-World-Editor-Emulation
GenericName[en_GB]=Warcraft III World Editor Emulation
Name=Warcraft III World Editor Emulation
Name[de]=Warcraft-III-World-Editor-Emulation
Name[en_GB]=Warcraft III World Editor Emulation
Exec=wc3editor %U
Icon=utilities-file-archiver
Type=Application
Terminal=false
Categories=Games;