[Desktop Entry]
MimeType=application/x-mpq;
GenericName=Warcraft III MPQ Editor
GenericName[de]=Warcraft-III-MPQ-Editor
GenericName[en_GB]=Warcraft III MPQ Editor
Name=Warcraft III MPQ Editor
Name[de]=Warcraft-III-MPQ-Editor
Name[en_GB]=Warcraft III MPQ Editor
Exec=wc3mpq %U
Icon=utilities-file-archiver
Type=Application
Terminal=false
Categories=Game;