[Desktop Entry]
MimeType=model/x-mdl;model/x-mdx;
GenericName=Warcraft III Model Editor
GenericName[de]=Warcraft-III-Modelleditor
GenericName[en_GB]=Warcraft III Model Editor
Name=Warcraft III Model Editor
Name[de]=Warcraft-III-Modelleditor
Name[en_GB]=Warcraft III Model Editor
Exec=wc3model %U
Icon=utilities-file-archiver
Type=Application
Terminal=false
Categories=Game;